/* Your CSS styles go here */
/* Apply the custom font to the body */
body {
  font-family: 'Poppins', sans-serif;
}

/* Background image for home page in light mode */
body:not(.dark-mode) {
  background-image: url("assets/img/3896707.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensure body fills the entire viewport vertically */
  margin: 0; /* Reset margin */
}

/* Background image for home page in dark mode */
body.dark-mode {
  background-image: url("assets/img/hop.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensure body fills the entire viewport vertically */
  margin: 0; /* Reset margin */
}

/* Styling for the container */
.container {
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  width: 60%; /* Adjust width for a larger container */
  max-width: 500px; /* Maximum width for responsiveness */
  text-align: center;
  box-shadow: 0 4px 8px rgb(247, 245, 245);
  /* Remove the border/outline */
  border: none;
  /* Position relative for the pseudo-element */
  position: relative;
}

/* Pseudo-element for blurred effect behind the box in light mode */
body:not(.dark-mode) .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Background for the blur effect in light mode */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: -1; /* Place behind the content */
}

/* Pseudo-element for blurred effect behind the box in dark mode */
body.dark-mode .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Background for the blur effect in dark mode */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: -1; /* Place behind the content */
}

/* Styling for the profile image */
.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Styling for the name section */
.name-section {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Styling for the description section */
.description-section {
  margin-bottom: 20px;
  font-size: 1em;
}

/* Styling for the social media links */
a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px; /* Increase padding for larger rectangles */
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Styling for social media links with different colors */
.github-link {
  background-color: #333;
  color: white;
}

.linkedin-link {
  background-color: #0a66c2;
  color: white;
}

.email-link {
  background-color: #2C3E50;
  color: white;
}

.cv-link {
  background-color: #8e44ad;
  color: white;
}

/* Hover effect for social media links */
a:hover {
  opacity: 0.8;
}

/* Styles for dark mode */
body.dark-mode {
  color: white;
}

/* Adjustments for dark mode links */
body.dark-mode a {
  color: white;
}

/* Styles for the toggle button */
.toggle-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5f5b5bb2;
  color: white;
  margin-left: 1050px;
}

/* Media queries for responsiveness */
@media (max-width: 480px) {
  .container {
      width: 90%; /* Adjust width for mobile devices */
  }
}

/* Background image for home page in light mode */
body#home-page:not(.dark-mode) {
  background-image: url("assets/img/3896707.jpg");
  background-size: cover;
  background-position: center;
}

/* Background image for gallery page in light mode */
body#gallery-page:not(.dark-mode) {
  background-image: url("assets/img/fib_w.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh; /* Ensure body fills the entire viewport vertically */
  margin: 0; /* Reset margin */
}

/* Background image for gallery page in dark mode */
body#gallery-page.dark-mode {
  background-image: url("assets/img/fib.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh; /* Ensure body fills the entire viewport vertically */
  margin: 0; /* Reset margin */
}

/* Background image for home page in dark mode */
body#home-page.dark-mode {
  background-image: url("assets/img/hop.jpg");
  background-size: cover;
  background-position: center;
}

/* Dashboard styles */
.dashboard {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  height: 40px;
}

body.dark-mode .dashboard {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Adjustments for dark mode buttons */
body.dark-mode .nav-button {
  color: white; /* Set buttons to white in dark mode */
}

/* Logo styling */
.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px; /* Push the logo to the left */
  margin-left: 20px;
}

/* Different logo for dark mode */
body.dark-mode .logo {
  content: url("assets/img/dalogo.png"); /* Change logo for dark mode */
}

/* Button styles */
.nav-button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 1em;
  margin-right: 50px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Content sections */
.content-section {
  display: none;
}

/* Show the current page */
.current-page {
  display: block;
}
.gallery-content {
  margin: 30px auto 0 auto; /* Adjust top margin for fixed navbar */
  text-align: center;
  display: flex; /* Use flexbox to align items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  gap: 10px;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
